<div class="container-fluid">
  <h1 style="text-align: center;">Contact Information</h1>
  <h2 style="text-align: center;">Please fill out your contact Information below</h2>
  <form>
    <div class="form-row">
        <div class="form-group col-md-3">
          <label>Name *</label>
          <input type="text" class="form-control" required>
          <small class="form-text text-muted">First Name</small>
        </div>
        <br>
        <div class="form-group col-md-3">
          <input type="text" class="form-control" required>
          <small class="form-text text-muted">Last Name</small>
        </div>
    </div>
    <br>
    <div class="form-group col-md-3">
        <label>Email *</label>
        <input type="email" class="form-control" required>
      </div>
      <br>
      <div class="form-group col-md-3">
          <label>Phone *</label>
          <input type="tel" class="form-control" required>
        </div>
    <br>
        <div class="form-group col-md-5">
            <label>Address *</label>
            <input type="text" class="form-control" required>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>   
<div>
